In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

# Trained on few features

In [2]:
app_data_0 = pd.read_csv("X_train(num1).csv")
app_data_0.head()

   Unnamed: 0  SK_ID_CURR  ...  DAYS_LAST_PHONE_CHANGE  FLAG_DOCUMENT_3
0           0      100002  ...                0.735788              1.0
1           1      100003  ...                0.807083              1.0
2           2      100004  ...                0.810112              0.0
3           3      100006  ...                0.856244              1.0
4           4      100007  ...                0.742311              0.0

[5 rows x 25 columns]

In [3]:
y_0 = app_data_0['TARGET']
ids_0 = app_data_0['SK_ID_CURR']
X_0 = app_data_0.drop(columns=['TARGET','SK_ID_CURR','Unnamed: 0'])

X_train_0, X_test_0, y_train_0, y_test_0 = train_test_split(X_0, y_0, test_size = 0.2)

In [4]:
forest_0 = RandomForestClassifier(n_estimators = 50, verbose=1)
forest_0.fit(X_train_0, y_train_0)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:   34.7s finished

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=1, warm_start=False)

In [6]:
y_trainset_pred_0 = forest_0.predict(X_train_0)
y_pred_0 = forest_0.predict(X_test_0)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    4.6s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    1.2s finished

In [7]:
print("Forest Train Accuracy: ", metrics.accuracy_score(y_train_0, y_trainset_pred_0))
print("Forest Test Accuracy: ", metrics.accuracy_score(y_test_0, y_pred_0))

Forest Train Accuracy:  0.9992073428506391
Forest Test Accuracy:  0.9188982651252784

# Trained on higher number of features

In [8]:
app_data_1 = pd.read_csv("X_train(num2).csv")
app_data_1.head()

   SK_ID_CURR  TARGET  ...  FLAG_DOCUMENT_18  AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...               0.0                    0.212746
1      100003       0  ...               0.0                    0.000000
2      100004       0  ...               0.0                    0.000000
3      100006       0  ...               0.0                    0.212746
4      100007       0  ...               0.0                    0.000000

[5 rows x 56 columns]

In [9]:
y_1 = app_data_1['TARGET']
ids_1 = app_data_1['SK_ID_CURR']
X_1 = app_data_1.drop(columns=['TARGET','SK_ID_CURR'])

X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size = 0.3)

In [10]:
forest_1 = RandomForestClassifier(n_estimators = 50, verbose=1)
forest_1.fit(X_train_1, y_train_1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:   43.2s finished

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=1, warm_start=False)

In [12]:
y_trainset_pred_1 = forest_1.predict(X_train_1)
y_pred_1 = forest_1.predict(X_test_1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    4.6s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    2.0s finished

In [13]:
print("Forest Train Accuracy: ", metrics.accuracy_score(y_train_1, y_trainset_pred_1))
print("Forest Test Accuracy: ", metrics.accuracy_score(y_test_1, y_pred_1))

Forest Train Accuracy:  0.9993263865983453
Forest Test Accuracy:  0.9193530903809048